/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --cover-image: url("../images/cover-image-dark.png");
  --cover-color: #000028;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --title-decor-color: #000028;
  --card-description-color: #F1B2CE;
  --decorated-zone-color: #FF0070;
  --button-color: #FF0070;
  --button-hover-color: #FF007066;
  --section_title-color: #FF0070;
  --link-border-color: #F1B2CE;
}

:root.theme-dark .header_decoration {
  display: block;
}

@media (prefers-color-scheme: dark) {

  :root {
    --cover-image: url("../images/cover-image-dark.png");
    --cover-color: #000028;
    --accent-color: #FF0070;
    --title-color: #DB00FF;
    --title-decor-color: #000028;
    --card-description-color: #F1B2CE;
    --decorated-zone-color: #FF0070;
    --button-color: #FF0070;
    --button-hover-color: #FF007066;
    --section_title-color: #FF0070;
    --link-border-color: #F1B2CE;
  }

  .header_decoration {
    display: block;
  }

}