/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --cover-image: url("../images/cover-image-light.png");
  --cover-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --title-decor-color: #353430;
  --card-description-color: #353430;
  --decorated-zone-color: #353430;
  --button-color: #353430;
  --button-hover-color: #32312D66;
  --section_title-color: #353430;
  --link-border-color: #353430;

}

:root.theme-light .header_decoration {
  display: none;
}

@media (prefers-color-scheme: light) {

  :root {
    --cover-image: url("../images/cover-image-light.png");
    --cover-color: #FFF1F7;
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --title-decor-color: #353430;
    --card-description-color: #353430;
    --decorated-zone-color: #353430;
    --button-color: #353430;
    --button-hover-color: #32312D66;
    --section_title-color: #353430;
    --link-border-color: #353430;
  }

  :root.theme-light .header_decoration {
    display: none;
  }
}