/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--cover-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--page-font, 'IBM Plex Mono'), monospace;
  background-color: var(--cover-color, #000028);
  font-size: var(--font-size, 18px);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: var(--page-padding, 10px);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before ,
.decorated-zone::after {
  content: "";
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
}

.decorated-zone::before {
  top: var(--page-padding, 10px);
  right: var(--page-padding, 10px);
  border-top: 1px solid var(--decorated-zone-color, #FF0070);
  border-right: 1px solid var(--decorated-zone-color, #FF0070);
}

.decorated-zone::after {
  border-bottom: 1px solid var(--decorated-zone-color, #FF0070);
  border-left: 1px solid var(--decorated-zone-color, #FF0070);
  bottom: var(--page-padding, 10px);
  left: var(--page-padding, 10px);
}

.header_decoration {
  position: absolute;
  text-transform: uppercase;
  color: var(--accent-color, #FF0070);
  top: 11px;
  right: 18px;
}

.header_decoration::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: var(--accent-color, #FF0070);
  box-shadow: 0 0 4px 2px var(--accent-color, #FF0070);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  text-transform: lowercase;
  background-color: transparent;
  padding: 2px 12px 4px 12px;
  border: 1px solid transparent;
  line-height: 18px;
  color: var(--button-color, #FF0070);
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color, #FF0070);
  pointer-events: none
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-color, #FF007066);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color, #FF0070);
}

.title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  color: var(--title-color, #DB00FF);
  line-height: 83%;
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
}

.header_description {
  align-self: center;
}

.title-decor {
  background-color: var(--accent-color, #FF0070);
  color: var(--title-decor-color, #000028);
  font-weight: bold;
  line-height: 23.4px;
}

.title-decor-normal {
  font-weight: normal;
}

.main {
  padding: 0 var(--page-padding, 10px);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.section_title {
  color: var(--section_title-color, #FF0070);
  font-weight: bold;
  line-height: 23.4px;
  font-size: 18px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card_title {
  font-size: 18px;
}

.card_description {
  color: var(--card-description-color, #F1B2CE);
  line-height: 23.4px;
}

.link {
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
  text-decoration: none;
  cursor: pointer;
  border: 1px solid transparent;
  margin-right: -2px;
}

.link:hover {
  border-bottom: 1px solid var(--link-border-color , #F1B2CE);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  border: 1px solid var(--link-border-color , #F1B2CE);
}

.card_images {
  display: grid;
  grid-template-columns: 1fr;
}

.card_image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  place-items: center;
  padding: var(--page-padding, 10px);
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
}

@media (width >= 768px) {

  .page {
    gap: 60px;
  }

  .main {
    gap: 80px;
  }

  .header {
    padding-left: 0;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header_description {
    align-self: center;
    justify-self: end;
    inline-size: calc((100vw / 2) - var(--page-padding, 20px));
  }

  .header_decoration {
    top: 22px;
    right: 28px;
  }

  .section_dobule-split {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .section_dobule-split .section_title{
    grid-row: 1 / 3;
  }

  .section_dobule-split .card {
    grid-column: 2;
  }

  .section_triple-split .section_title {
    inline-size: calc((100vw / 3) - var(--page-padding, 20px));
  }

  .card_images {
    margin-top: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .card_images img:nth-child(1) {
    grid-row: 1;
    grid-column: 1 / 3;
  }

  .card_images img:nth-child(2) {
    grid-row: 1 / 3;
    grid-column: 3;
  }

  .card_images img:nth-child(3) {
    grid-row: 2 / 4;
    grid-column: 1;
  }

  .card_images img:nth-child(4) {
    grid-row: 2;
    grid-column: 2;
  }

  .card_images img:nth-child(5) {
    grid-row: 3;
    grid-column: 2 / 4;
  }

}

@media (width >= 1024px) {

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-left: 20px;
  }

  .header__theme-menu-list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .section_dobule-split {
    grid-template-columns: 32% 66%;
    gap: 20px;
  }

  .section_triple-split {
    grid-template-columns: repeat(3, 32%);
  }

  .section_triple-split .section_title {
    grid-column: 1/4;
  }

  .section_triple-split .card {
    align-self: start;
  }

}